<a href="https://colab.research.google.com/github/pcw11/2024-OSS/blob/main/w02_1_python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 파이썬 언어 기촌
## 상수와 변수

In [12]:
# comments

In [13]:
3.4 # numeric literals

3.4

In [14]:
7L

SyntaxError: invalid decimal literal (<ipython-input-14-768ed451f8b0>, line 1)

In [16]:
-5 4.5

SyntaxError: invalid syntax (<ipython-input-16-4e8c55c1b341>, line 1)

In [15]:
10, -3

(10, -3)

In [ ]:
# variable
a = 3 # assign value to variable a
a

In [ ]:
m,n = 10, 20
print(m,n)

In [18]:
# var name
age = 19
age

19

In [19]:
my_age = 20
my_age

20

In [20]:
_height = 172.3
_height

172.3

In [ ]:
_26asian = 2026 # 첫 _이후에 바로 숫자 사용 가능
_26asian

In [ ]:
# 잘못된 변수
26worldcup = 2026 # 수가 맨 먼저 위치하면 에러

In [ ]:
my .age =21 # .은 사용하면 에러

In [ ]:
my credits = 18 # 공백 문자 등 다른 문자 사용하면 에러

### R 기본 자료형

In [ ]:
# int
a =10
print(a)

In [ ]:
type(a)

In [21]:
from re import X
# float
x = 2.718
print(X)

type(x)

re.VERBOSE

float

In [22]:
# complex
c = 3 - 4j
print(c)

type(c)

(3-4j)

complex

In [23]:
# string
s = "VS code"
print(s)

type(s)

VS code

str

### 날짜 자료형

In [24]:
import datetime as dt
c = dt.datetime.now()
print(c.year, c.month, c.day)

type(c)

2024 9 15

datetime.datetime

In [25]:
import datetime as dt
d = dt.datetime(2026, 3, 1)
print(d, '요일:', d.weekday())

2026-03-01 00:00:00 요일: 6

### 다양한 연산자

In [27]:
10 + 4.3

14.3

In [28]:
5.4 -1.2

4.2

In [29]:
4 * 2.7

10.8

In [30]:
10 / 4

2.5

In [31]:
10 % 3 # 나며지 연산자 integer division

1

In [ ]:
10 // 3 # 몫 연산자

In [ ]:
3 ** 3 # 지수 연산자

In [ ]:
2 ** 2.8 # 지수 연산자

In [ ]:
3 * (4 - 2)

In [ ]:
(10 - 3) ** 2

In [ ]:
True & True

In [ ]:
True and False

In [ ]:
True | True

In [ ]:
False or False

In [ ]:
not True

In [ ]:
not False

## 내장 함수와 함수 호출 활용

In [33]:
help(print)
Help on built-in function print in module builtins:

SyntaxError: invalid syntax (<ipython-input-33-694de34aa49e>, line 2)

In [ ]:
year = input('당신이 태어난 년도는 ?')
당신이 태어난 년도는 ? 2004

In [ ]:
type(year)

In [ ]:
age = 2026 - year

In [ ]:
age = 2024 - int(year)
print('나이', age)

In [ ]:
year = int(input('당신이 태어난 년도는 ?'))

In [ ]:
print('나이',2026 - year)

In [ ]:
abs(-3)

In [ ]:
min(10, 20, 1)

In [ ]:
max(10, 100,1)

In [ ]:
min([10, 11, 112])

In [ ]:
max([10, 11, 12])

In [ ]:
round(3.1415)

In [ ]:
round(3.1415, 3)

### 내장 모듈 math 활용

In [ ]:
import math as m
m.pi, m.e

In [ ]:
m.sqrt(4)

In [ ]:
m.ceil(3.7)

In [ ]:
m.ceil(3.1)

In [ ]:
m.ceil(-3.7)

In [ ]:
m.ceil(-3.1)

In [ ]:
m.floor(3.7)

In [ ]:
m.floor(3.1)

In [ ]:
m.floor(-3.7)

In [ ]:
m.floor(3.1)

In [ ]:
m.trunc(3.1415)

### 토이 데이터의 데이터 프레임 활용

In [ ]:
from pydataset import date

all_data = data()
all_data

In [ ]:
cars = data('cars')
cars

In [36]:
import matplotilb.pyplot as plt

plt.scatter(x = cars.speed, y = cars.dlst)
plt.show()

ModuleNotFoundError: No module named 'matplotilb'

In [35]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.scatterplot(x = cars.speed, y = cars.dlst)
plt.show()

NameError: name 'cars' is not defined

In [34]:
mpg.info()

NameError: name 'mpg' is not defined